
@font-face {
    font-family: Quicksand;
    src: url(Quicksand.ttf);
}

@font-face {
    font-family: PassionOne;
    src: url(PassionOne-Regular.ttf);
}

@font-face {
    font-family: poiretone;
    src: url(PoiretOne-Regular.ttf);
}


@font-face {
    font-family: montserrat;
    src: url(Montserrat.ttf);
}
@font-face {
    font-family: Montserrat-eb;
    src: url(Montserrat-ExtraBold.ttf);
}


@font-face {
    font-family: Jost;
    src: url(Jost.ttf);
}


